body {
    padding-top: 90px;
    color:#313131;
    background-color: #ffffff;
}

a:visited {
    color:#797979;
}
a:link {
    color:#c71414;
}
a:hover {
    color:#575757;
}
.btn-custom {
    color:#dadada;
    background-color: #5e5e5e;
}
.btn-custom:hover {
    color: #ffffff;
}
nav a:visited {
    color:#ffffff;
}
nav a:link {
    color:#ffffff;
}
nav a:hover {
    color:#414141;
}

.navbar {
    color:#e0e0e0;
    background-color: #646464;
}